body{
	background-image:url(../img/pattern.jpg);
}

.container{
	background-color: white;
	text-align: center;

}



#sendIt{
	text-align: center;
	margin-bottom: 30px;

}

#lastPic{
	text-align: center;
	margin-bottom: 30px;
}


#photoCollection{
	text-align: center;
	margin-bottom: 30px;

}

.help-block {
	text-align: left;
}


